header {
    background: #fff;
    box-sizing: border-box;
    padding: 18px 0;

    .logo {
        float: left;
        font-size: 40px;
        color: #032f3e;
        font-weight: bold;
        font-style: italic;

        img,
        span { vertical-align: middle; }

        img { margin-left: 10px; }

    }
}
