@font-face {
  font-family: 'icomoon';
  src: url('../ico-font/icomoon.eot?ci6vi5');
  src: url('../ico-font/icomoon.eot?ci6vi5#iefix') format('embedded-opentype'), url('../ico-font/icomoon.ttf?ci6vi5') format('truetype'), url('../ico-font/icomoon.woff?ci6vi5') format('woff'), url('../ico-font/icomoon.svg?ci6vi5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-carret:before {
  content: "\e900";
}
.icon-camera:before {
  content: "\f03d";
}
.icon-file:before {
  content: "\f0f6";
}
.icon-microphone:before {
  content: "\f130";
}
.icon-phone:before {
  content: "\e942";
}
.icon-google:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-skype:before {
  content: "\eac5";
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.hideme {
  opacity: 0;
}
.content {
  max-width: 1200px;
  margin: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  outline: none;
  border: 0;
  cursor: pointer;
}
header {
  background: #fff;
  box-sizing: border-box;
  padding: 18px 0;
}
header .logo {
  float: left;
  font-size: 40px;
  color: #032f3e;
  font-weight: bold;
  font-style: italic;
}
header .logo img,
header .logo span {
  vertical-align: middle;
}
header .logo img {
  margin-left: 10px;
}
header .contact {
  float: right;
}
header .contact li {
  float: left;
  padding: 18px 15px;
  font-size: 18px;
}
header .contact li.__with-text [class^="icon-"],
header .contact li.__with-text [class*=" icon-"] {
  color: #ab987a;
  font-size: 16px;
  margin-right: 15px;
}
header .contact [class^="icon-"],
header .contact [class*=" icon-"] {
  color: #032f3e;
  font-size: 18px;
}
nav {
  box-sizing: border-box;
  background: #032f3e;
}
nav ul {
  width: 100%;
}
nav li {
  width: 16%;
  height: 60px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
nav li:hover a {
  margin-top: 60px;
}
nav li a {
  display: inline-block;
  position: relative;
  padding: 20px 0;
  cursor: pointer;
  transition: all 0.15s linear;
}
nav li a.__home:before {
  content: "Home";
}
nav li a.__about:before {
  content: "About us";
}
nav li a.__lesson:before {
  content: "Lessons";
}
nav li a.__portfolio:before {
  content: "Portfolio";
}
nav li a.__blog:before {
  content: "Blog";
}
nav li a.__contact:before {
  content: "Contact";
}
nav li a:before {
  position: absolute;
  color: #ab987a;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px 0;
  width: 100%;
  height: 100%;
  top: -100%;
}
nav li.__active a {
  margin-top: 60px;
}
.hero {
  background: url('../i/hero.jpg') no-repeat;
  background-size: cover;
  height: calc(100vh - 160px);
  position: relative;
  box-sizing: border-box;
  border-bottom: 4px solid #fff;
  overflow: hidden;
}
.hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.hero-move-btn {
  position: absolute;
  bottom: -120px;
  right: 50%;
  margin-right: -50px;
  width: 100px;
  height: 100px;
  border-radius: 30%;
  background: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.hero-move-btn:hover .icon-carret {
  -webkit-animation: move-carret 0.5s infinite linear;
          animation: move-carret 0.5s infinite linear;
}
.hero-move-btn .icon-carret {
  position: absolute;
  display: block;
  top: 6px;
  left: 8px;
  font-size: 30px;
  color: #1e0a0b;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.hero-title {
  font-size: 70px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: right;
  margin-right: 15px;
}
.hero-video-wr {
  float: right;
  margin-right: 15px;
  position: relative;
}
.hero-video-link {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 150px;
  text-align: center;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
  outline: none;
}
.hero-video-link span {
  border: 4px solid #fff;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  line-height: 0.6;
}
.hero-subtitle {
  font-weight: 100;
  margin: 0;
}
.hero .content {
  position: absolute;
  right: 0;
  bottom: 50px;
  left: 0;
}
.services {
  padding-top: 24px;
}
.services-title {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
  color: #032f3e;
  text-align: center;
  position: relative;
  margin-bottom: 75px;
}
.services-title:before {
  content: '';
  position: absolute;
  width: 36px;
  border: 1px solid #ab987a;
  bottom: -36px;
  left: 50%;
  margin-left: -18px;
}
.services-dscr {
  margin-bottom: 150px;
}
.services-item {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  margin: auto;
  text-align: center;
  color: #032f3e;
  text-transform: uppercase;
  font-size: 18px;
}
.services-item [class*='icon-'] {
  font-size: 70px;
  color: #ab987a;
  border: 1px solid #ab987a;
  border-radius: 50%;
  display: block;
  height: 170px;
  width: 170px;
  margin: auto;
  text-align: center;
  position: relative;
}
.services-item [class*='icon-']:before {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -35px;
}
@-webkit-keyframes move-carret {
  50% {
    top: 13px;
    left: 15px;
  }
  100% {
    top: 6px;
    left: 8px;
  }
}
@keyframes move-carret {
  50% {
    top: 13px;
    left: 15px;
  }
  100% {
    top: 6px;
    left: 8px;
  }
}

/*# sourceMappingURL=style.css.map */
